html{
    font-family: 'Lora', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    color: black;
}

#sidebar{
    position: fixed;
    height: 100%;
    width: 300px;
    background-color: black;
    padding-top: 30px;
}

#sidebar h1{
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#sidebar a{
    color: #fff;
    transition: 0.5s;
    text-decoration: none;
    font-size: 20px;
}

#sidebar a:hover{
    color: #ff9131;
}

#sidebar li{
    padding: 20px;
}

.sidebar-container{
    position: relative;
}

.logo{
    width: 150px;
    height: 150px;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

/* Sessão de conteudo da página */

.content{
    position: absolute;
    left: 300px;
    width: calc(100% - 300px);
}

.content h1, .content h2{
    color: #ff9131;
    margin-bottom: 30px;
}

.content h1{
    font-size: 40px;
}

.content h2{
    font-size: 25px;
}

section{
    padding-left: 20px;
}

/* Sessão Bem vindo */

#bemvindo{
    padding-left: 0;
}

.conteudo-bemvindo{
    padding-left: 20px;
}

.banner{
    height: 400px;
    background-image: url(../img/banner.png);
    background-position: center;
    background-size: cover;
}

#bemvindo h1{
    margin-top: 50px;
}

#bemvindo::after, #sobre::after{
    content: "";
    display: block;
    clear: both;
    margin-bottom: 100px;
}

.minibanner{
    width: 300px;
    height: 400px;
    background-image: url(../img/minibanner-bemvindo.jpg);
    background-position: center;
    background-size: cover;
    float: left;
}

.descricao{
    position: absolute;
    left: 350px;
    padding-right: 30px;
}

.descricao p{
    line-height: 1;
    font-size: 16px;
    margin-bottom: 30px;
    margin-left: 25px;
}

.botao, form input[type=submit]{
	background-color: black;
	border-radius:10px;
	border:1px solid black;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
    transition: 0.5s;
    margin-left: 25px;
}

.botao:hover, form input[type=submit]:hover{
	background-color: #ff9131;
}

/* Sessão sobre */

#sobre .minibanner{
    float: right;
    margin-right: 50px;
    background-image: url(../img/minibanner-sobre.jpg);
}

#sobre .descricao{
    position: absolute;
    left: 0;
    width: calc(100% - 400px);
}

/* Sessão das galerias */

.banner-galeria{
    background-position: center;
    background-size: cover;
    display: inline-block;
    height: 200px;
}

#mangas1, #mangas2, #mangas3{
    padding-right: 50px;
    margin-bottom: 50px;
}

/* imagens da galeria, primeira galeria */

.mangas1-imgs{
    width: 18.8%; /* porcentagem para chegar proximo dos 100% da página  */
    margin-left: 0.5%;
    margin-right: 0.5%;
}

#img1{
    background-image: url(../img/img1.jpg);
    margin-left: 0;
}

#img2{
    background-image: url(../img/img2.jpg);
} 

#img3{
    background-image: url(../img/img3.jpg);
}

#img4{
    background-image: url(../img/img4.jpg);
}

#img5{
    background-image: url(../img/img5.jpg);
    margin-right: 0;
}

/* imagens da galeria, segunda galeria */

.mangas2-imgs{
    width: 32.3%; /* porcentagem para chegar proximo dos 100% da página  */
    margin-left: 0.5%;
    margin-right: 0.5%;
}

#img6{
    background-image: url(../img/img6.jpg);
    margin-left: 0;
}

#img7{
    background-image: url(../img/img7.jpg);
} 

#img8{
    background-image: url(../img/img8.jpg);
    margin-right: 0;
}

/* imagens da galeria, terceira galeria */

.mangas3-imgs{
    width: 23.9%; /* porcentagem para chegar proximo dos 100% da página  */
    margin-left: 0.5%;
    margin-right: 0.5%;
}

#img9{
    background-image: url(../img/img9.jpg);
    margin-left: 0;
}

#img10{
    background-image: url(../img/img10.jpg);
} 

#img11{
    background-image: url(../img/img11.jpg);
}

#img12{
    background-image: url(../img/img12.jpg);
    margin-right: 0;
}

/* Contato */

#contato{
    width: 500px;
}

#form-contato input[type=text], #form-contato input[type=email], #form-contato textarea{
    display: block;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 16px;
    font-family: 'Lora', serif;
}

#form-contato input[type=text]:focus, #form-contato input[type=email]:focus, #form-contato textarea:focus{
    border-color: dimgrey;
}

#form-contato textarea{
    height: 150px;
}

#form-contato ::placeholder{
    color: black;
}

#form-contato input[type=submit]{
    margin-left: 0;
}
